
 *{padding:0;margin:0;}


body{
	font-family:Verdana, Geneva, sans-serif; 
}


.float{
	position:fixed;
/*	width:250px;*/
	height:60px;
	bottom:15px;
 	right:50px;
	z-index:4;
/*	background-color:#0C9;
	color:#FFF;*/
	font-size:12px;
/*	border-radius: 5px 10px 15px 20px;
	text-align:center; */
/*	box-shadow: 2px 3px 4px #5c6056*/
	/*box-shadow: 2px 2px 3px #000;*/
	}
 
#scroll
{
	position:fixed; 
	bottom:0px;
	right:40px; 
	color:#000;font-size:12px;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
  
.my-float
{
	margin-top:18px;
}
#scroll
{
	margin-top:22px;
}