.chat
{
    list-style: none;
    margin: 0;
    padding: 0;  z-index: 4;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    /*border-bottom: 1px dotted #B3A9A9;  z-index: 4;*/
}

.chat li.left .chat-body
{
    margin-left: 60px;  z-index: 4;
}

.chat li.right .chat-body
{
    margin-right: 60px;  z-index: 4;
}


.chat li .chat-body p
{
    margin: 0;  z-index: 4;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;  z-index: 1;
}

.panel-body
{
    overflow-y: scroll;
    height: 290px;     z-index: 4;
}
 
