.progress {height: 10px !important; width:60%;}
#success_payment tr td{padding:10px}
#chosen_payment tr td{ padding:10px}
#chosen_payment tr td ul li{ font-size:16px;}
#payment_checkout tr td{padding:10px}
#select_package tr td{padding:10px;text-align:center}
#subscription tr td {padding:10px}
#button_large{ height:45px; width:100%; padding:5px; background:green;font-size:18px;}
 #button_large1{ height:45px; width:100%; padding:5px;  font-size:18px;}
 #button_medium{ height:45px; width:40%; padding:5px; font-size:18px;}
#button_save{ height:45px; width:20%; padding:5px; font-size:18px;}
#btn_invoice{background:#32c5d2;color:#fff;}
#button_large2{ height:45px; width:100%; padding:5px;  font-size:18px;}
#large_select{   height:45px;padding:5px;font-size:18px; font-family:verdana}
#order_summary tr td {padding:10px;}
#medium_select{   height:45px; width:100%;  padding:5px;font-size:18px; font-family:verdana}
#strong {color:#fff;}
 input radion{ /* Change width and height */
width:4em;
height:4em;
}

/* radio button styling */


label.btn span {
  font-size: 1.5em ;
}
.btn.sharp {
  border-radius:0;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
 
label:hover input[type="radio"] ~ i.fa {
color: #7AA3CC;
}
 
div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}



/* end of radion*/
.form-radio{

width:50px !important;

height:50px!important;

}